<div class="min-h-screen flex flex-col items-stretch">
  <div class="container m-auto">
    <div class="header">
      <div class="line"></div>
      <h1>Zsuzsó & Csabi</h1>
      <h2>2022. JÚLIUS 9.</h2>
    </div>
    <img src="assets/images/flower.png" width="300" class="m-auto"/>

    <div class="countdown m-auto">
      <div class="text-center">
        <p>{{days}}</p> NAP
      </div>
      <div class="text-center">
        <p>{{hours}}</p> ÓRA
      </div>
      <div class="text-center">
        <p>{{minutes}}</p> PERC
      </div>
      <div class="text-center">
        <p>{{seconds}}</p> SEC
      </div>
      <iframe *ngIf="distance && distance < 0" class="animation"
              src="https://embed.lottiefiles.com/animation/53513"></iframe>
    </div>

    <div class="details sm:flex">
      <div class="church box sm:w-1/3 w-full">
        <h5>Ceremónia</h5>
        <div class="circle">
          <img src="assets/images/church.png" alt="church" width="60">
        </div>
        <div class="text">
          <h6>Móri Szentháromság templom</h6>
          <p>A szertartás után kerül sor a csoportképek elkészítésére.</p>
          <a
            href="https://www.google.com/maps/place/M%C3%B3ri+Szenth%C3%A1roms%C3%A1g-templom/@47.3749883,18.2099395,17z/data=!3m1!4b1!4m5!3m4!1s0x476a24623cf9b9a1:0x8977a8fcc8567ab3!8m2!3d47.3749721!4d18.2120971"
            target="_blank">
            Térkép -></a>
        </div>
      </div>
      <div class="dinner box sm:w-1/3 w-full">
        <h5>Vacsora</h5>
        <div class="circle">
          <img src="assets/images/dinner.png" alt="dinner" width="50">
        </div>
        <div class="text">
          <h6>Móri Hétkuti Wellness Hotel és Lovarda</h6>
          <p>A vendégfogadás, a vacsora és a mulatság helyszíne a Hétkuti Wellness Hotel és Lovarda. A program részletes
            leírása lentebb található.</p>
          <a
            href="https://www.google.com/maps/place/H%C3%A9tk%C3%BAti+Wellness+Hotel+%C3%A9s+Lovaspark/@47.3594233,18.2153535,17z/data=!3m1!4b1!4m8!3m7!1s0x476a24742216b213:0x6340f91eee33105c!5m2!4m1!1i2!8m2!3d47.3594233!4d18.2175422"
            target="_blank">Térkép -></a>
        </div>
      </div>
      <div class="hotel box sm:w-1/3 w-full">
        <h5>Szállás</h5>
        <div class="circle">
          <img src="assets/images/bed.png" alt="dinner" width="45">
        </div>
        <div class="text">
          <p> A hotelben van lehetőség szobát foglalni, ezzel kapcsolatban bátran keressetek minket.
          </p>
        </div>
      </div>
    </div>
    <div class="decor-container relative sm:flex">
      <img src="assets/images/flower3.png" class="flower sm:w-1/4 w-1/2">
      <div
        class="decor w-full flex flex-col sm:ml-0 mb-16 ml-16 sm:ml-0 items-center text-center relative">
        <img src="assets/images/gift-box.png" width="60">
        <p>Ajándékon ne törd a fejed, egy borítékban elrejtheted.<br/>
          Hogy szerencsés legyen e nagy napunk, örülünk, <br/> ha ajándékba egy-egy sorsjegyet is kapunk.
      </div>
      <div class="relative flex items-end mb-16 sm:mb-0 mt-8 sm:ml-16">
        <img src="assets/images/profil.jpeg" [ngStyle]="{'opacity':imageCounter === 0 ? 1 : 0}"
             width="600" class="profil absolute"/>
        <img src="assets/images/profil3.jpeg" [ngStyle]="{'opacity':imageCounter === 1 ? 1 : 0}" width="600"
             class="profil"/>
        <img src="assets/images/profil5.jpeg" [ngStyle]="{'opacity':imageCounter === 2 ? 1 : 0}" width="600"
             class="profil absolute"/>
        <img src="assets/images/profil6.jpeg" [ngStyle]="{'opacity':imageCounter === 3 ? 1 : 0}" width="600"
             class="profil absolute"/>
      </div>
    </div>

    <div class="sm:flex">
      <div class="program mb-8 sm:mb-16 ml-8 sm:ml-0">
        <h4>Program</h4>
        Hamarosan...
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container m-auto py-8">
      <p>Bármilyen kérdés, kérés, óhaj, sóhaj esetén keress bennünket messengeren, telefonon, emailben vagy
        személyesen!</p>
      <br/>
      <!--      <div class="sm:flex">-->
      <!--        <div class="mr-16">-->
      <!--          <a href="mailto:enesei.lilla@gmail.com">enesei.lilla@gmail.com</a>-->
      <!--          <p>+3630/469-0939</p>-->
      <!--        </div>-->
      <!--        <div class="mt-8 sm:mt-0">-->
      <!--          <a href="mailto:fplutzer@gmail.com">fplutzer@gmail.com</a>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
</div>
