/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

@font-face {
  font-family: "fetish";
  src: url("assets/fonts/fashion_fetish/FashionFetishRegular.ttf") format("truetype")
}

@font-face {
  font-family: "fetish";
  src: url("assets/fonts/fashion_fetish/FashionFetishBold.ttf") format("truetype");
  font-weight: bold;
}

//@font-face {
//  font-family: "lavanderia";
//  src: url("assets/fonts/lavanderia/LavanderiaRegular.otf") format("opentype")
//}

h1, h4 {
  font-family: 'Oooh Baby';
  font-weight: bold;
}

body {
  font-family: fetish;
}
